<div id="{{name}}" class="ldl-ss-page ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1600">
    <g>
      <defs>
        <clipPath id="{{name}}-bright-map-clip">
          <rect x="0" y="0" width="100" height="900" />
        </clipPath>
      </defs>
      <image x="0" y="0" width="900" height="900" xlink:href="{{basePath}}/dark-map.png" />
      <image x="0" y="0" width="900" height="900" xlink:href="{{basePath}}/bright-map.png" clip-path="url(#{{name}}-bright-map-clip)"/>
    </g>


  </svg>
</div>

<script id="{{name}}-template-text-1" type="handlebars-template">
  <text x="90" y="112" opacity="1.0" fill="white" font-size="48px">
    我一共走了 <tspan style="fill: #FF7E00;" font-size="64px">
      <tspan id="{{name}}-total-steps">0</tspan>
      <tspan> 步</tspan></tspan>
  </text>
  <text x="90" y="208" opacity="1.0" fill="white" font-size="48px">
    日均 <tspan style="fill: #FF7E00;" font-size="64px">
      <tspan id="{{name}}-avg-steps">0</tspan>
      <tspan> 步</tspan></tspan>
  </text>
</script>

<script id="{{name}}-template-rank-circle" type="handlebars-template">
  <g id="{{name}}-rank-circle" transform="translate(\{{circleCenterX}},\{{circleCenterY}}) scale(0.0)" >
    <g transform="translate(-156, -156)" >
      <image x="0" y="0" width="312" height="312" xlink:href="{{basePath}}/circle.png"/>
      <text x="110" y="120" font-size="48" fill="white">超过</text>
      <text x="80" y="220" font-size="80" fill="white">\{{userData.better_than_pct}}</text>
    </g>
  </g>
</script>
