<div id="{{name}}" class="ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <img src="{{basePath}}/background.png" class="{{name}}-background"></img>
  <img src="{{basePath}}/logo.png" class="{{name}}-logo"></img>
</div>