<div id="{{name}}" class="ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <img src="{{basePath}}/sky-900-900.png" class="{{name}}-sky"></img>
  <img src="{{basePath}}/foot-564-360.png" class="{{name}}-foot"></img>
</div>