<div id="{{name}}" class="ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <img src="{{basePath}}/sky-900-900.png" class="{{name}}-sky"></img>
  <img src="{{basePath}}/foot-564-360.png" class="{{name}}-foot"></img>
</div>

<script id="{{name}}-template" type="handlebars-template">
  <div class="{{name}} {{name}}-text">
    <div class="{{name}}-orange {{name}}-text-1">\{{userData.firstday}}</div>
    <div class="{{name}}-text-2">
      <div>我开始使用乐动力</div>
      <div>走出了历史性的第一步！</div>
    </div>
  </div>
</script>