<div id="{{name}}" class="ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <img src="{{basePath}}/element-1.png"></img>
  <img src="{{basePath}}/element-2.png"></img>
  <img src="{{basePath}}/element-3.png"></img>
</div>