<div id="{{name}}" class="ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1600">
    <g id="{{name}}-text-pct" transform="translate(450, 420)">
      <text x="0" y="0"
            font-size="36px"
            font-family="Arial"
            text-anchor="middle" fill="white" id="{{name}}-complete-rate">00%</text>
    </g>
    <g>
      <polygon transform="translate(450, 410) scale(80)"
               fill="none"
               stroke="white"
               stroke-width="0.10"
               stroke-linecap="round"
               points="1.0,0.0 0.5,0.866025403784 -0.5,0.866025403784 -1.0,1.22464679915e-16 -0.5,-0.866025403784 0.5,-0.866025403784"/>
    </g>

    <g id="{{name}}-bg-arcs"></g>
    <g id="{{name}}-fg-arcs"></g>

    <g id="{{name}}-text-summary" opacity="0.0" transform="translate(50, 950)">
      <text x="0" y="0" fill="white" font-size="56px">有<tspan font-size="78px" fill="#FF7E00" id="{{name}}-complete-days"> N </tspan>天完成目标，</text>
      <text x="0" y="180" fill="#FF7E00" font-family="ldl-ss" font-size="70px">离人生巅峰还有一定距离！</text>
    </g>
  </svg>
</div>
