<div id="{{name}}" class="ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1600">
    <image x="0" y="0" width="900" height="900" xlink:href="{{basePath}}/background.png" />
  </svg>
</div>
