<div id="{{name}}" class="ldl-ss-page ss-slide ss-{{posX}}-{{posY}} {{name}}">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1600">
    <image x="0" y="0" width="900" height="900" xlink:href="{{basePath}}/background.png" />
    <g id="{{name}}-self-photo"></g>
    <g id="{{name}}-friend-photos"></g>
    <g id="{{name}}-text" transform="translate(50, 950)">
      <g id="{{name}}-text-summary" opacity="0.0">
        <text x="0" y="0" fill="white" font-size="50px">
          共与<tspan fill="#FF7E00" id="{{name}}-friends-count">N</tspan>个好友产生纯洁的运动友谊
        </text>
        <text x="0" y="100" fill="white" font-size="50px">
          我的运动量在我的好友排行中第<tspan fill="#FF7E00" id="{{name}}-friends-rank">m</tspan>名
        </text>
      </g>
      <g id="{{name}}-text-yuepao" opacity="0.0">
        <text x="0" y="220" fill="#FF7E00" font-family="ldl-ss" font-size="78px">
          我们只约跑，不约pao
        </text>
      </g>
    </g>
  </svg>
</div>
